.card__btn{
    display: block;
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.701);
    border: none;
    padding: 0.6em 1.2em;
    font-size: 1.1rem;
    border-radius: 0.7em;
    font-weight: 550;
    border: 0.1em solid rgb(148, 68, 11);
    transition: transform 100ms ease;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card__btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.441);
    background-color: transparent;
    color: whitesmoke;
}

